
  
body {background-color: rgb(244, 229, 244);}


#containerAll{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: auto; 
  grid-gap: 10px;
  grid-template-areas: 
    "header header"
    "main main" 
    "footer footer";

}
 header {
      background-image: url("abst.jpg");
      background-repeat: no-repeat;
      background-size:800px;
      display: grid;
      position: sticky;
      grid-area: header;
      grid-template-areas: 
      '. nav'
      'myName myName'
      '. myImage'
      ;
      
    }

#myName {
  margin: 85px 400px 40px 361px;
  font-size: 80px;
  font-family: Gabriola;
  color: #004857;
  position: absolute;
  grid-area: myName;
}
#myImage {
  width: 28%;
  margin: 50px 10px 0px 878px;
  display: inline-block;
  position: relative;
  grid-area: myImage;

}

nav {
  display: inline;
  list-style-type: none;
  margin: 14px 10px 20px 729px;
  grid-area: nav;
}

nav a {
  display: relative;
  color: #152850;
  padding: 14px 16px;
  text-decoration: none;
  background-color: transparent;
  font-family: Gabriola;
  color: #004857;
  font-size: x-large;
}
body {
  background-color: #f9fafc;
  margin:0;
}
main{
  display: grid;
  grid-area: main;
  grid-gap:10px;
  grid-template-columns:1fr 1fr 1fr ;
  grid-template-areas:
  'projects skills connect'
  'about about about'
  'experience experience experience'
  'messageForm messageForm messageForm'
  
  ;
}

#About{
  grid-area: about;
  margin: 40px 120px 40px 114px;
  width: 83%;
}
#skills{
 grid-area: skills;
 margin:60px 52px 40px 67px;
}
#Connect{
grid-area: connect;
margin: 61px 89px 40px 37px;
}
#Experience{
grid-area: experience;
margin: 40px 120px 40px 114px;
width: 83%;
}
#projects{
  grid-area: projects;
  margin: 60px 23px 37px 118px;
}
.myInfo {
  border-bottom: 3px inset #b3d5da;
  border-radius: 10px;
  padding: 5px 5px 8px 12px;
  background-color: #ebf2f3;
  font-family: Gabriola;
  font-size: 20px;
  
}
#container{
  display: grid;
  grid-template-columns: 6fr 1fr;
}

#container p {
  font-family: Gabriola;
  font-size: 20px;
  height: 40px;
  background-color: #f1f5fa;
}

li {
  font-family: Gabriola;
  font-size: 20px;
}

h2 {
  text-decoration: none;
  font-family: Gabriola;
  font-size: 30px;
  color: #004857;
  padding-left: 5px;
}

#messageForm{
  display: grid;
  grid-area: messageForm;
  width:80%;
    border-bottom: 3px inset #b3d5da;
  height: 80vh;
  margin: 40px 118px;
  border-radius: 5px;
  padding: 20px;
  font-family: Gabriola;
  color: #39185a;
  font-size: 20px;
  position:relative;
  background-color: #ebf2f3;
  grid-template-areas:
  'h2m . userMessages '
  'form . .'
   
}
#leave-message-form h2{
  grid-area: h2m;
}
.message-area{
  margin: 20px 7px;
  background-color: #fefefe;
  width: 400px;
  height: 300px;
  grid-area: message-area;
}
form{
  display: grid;
  grid-template-areas: 
  'nameLabel emailLabel'  
  'name email'
  'messageLabel .'
  'message message'
  'submitLabel .'
  'submit .'
  ;
  grid-gap: 10px;
  width: 40px;
  grid-area: form;
}
input[type=text],
input[type=email],
textarea {
  /*width: 80vw;
  padding: 8px 20px;*/
  border: 1px solid #245b86;
  border-radius: 4px;
  box-sizing: border-box;
 
}

input[type=text]{
  grid-area: name;
  width: auto;
  height: 25px;
}
input[type=email]{
  grid-area: email;
  width: auto;
  height: 25px;
}
textarea {
  grid-area: message;
  width: 100%;
  height: 50px;
}
#submit{
  grid-area: submit;
  margin-top: auto;
}
#name{
  grid-area: nameLabel;
}
#email{
  grid-area: emailLabel;
}
#message{
  grid-area: messageLabel;
}
#lsubmit{
  grid-area: submitLabel;
}
#messages{
  grid-area: userMessages;
}

  Button[type=submit] {
  border-radius: 4px;
  border: none;
  background-color: #acb9c3;
  padding: 10px;
  margin: 2px;
}

Button[type=remove] {
  color: #acb9c3;
  border-radius: 4px;
  margin: 0px 4px;
  padding: 10px;

} 
footer {
  background-image: url("abst.jpg");
  margin-top:200px ;
  padding: 20px;
  position:sticky;
  grid-area: footer;
}
footer p{
  text-align: center;
}

/* I am still working in this */

/* Smartphones */
@media only screen and (min-width : 520px) and (max-width : 768px) {
  
header{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
header #myName {
  font-size: 50px;
  margin: 74px 46px 37px 23px;
}
#myImage{
  display:none;
}

nav {
display: flex;
list-style-type: none;
margin: 30px 10px 20px 30px;
grid-area: nav;
}
#projects{
  grid-area: projects;
  margin: 60px 3px 40px 37px;
}
 
.message-area{
  margin: 20px 7px;
  background-color: #fefefe;
  width: 300px;
  height: 200px;
  grid-area: message-area;

}

}
/* iPads */
@media only screen and (min-width : 768px) and (max-width : 1224px) {
  header {
    background-image: url("f.jpg");
    display: grid;
    position:relative;
    grid-template-rows: 100px 30px 30px;
    grid-area: header;
    grid-template-areas: 
    '... nav'
    '... myName'
    ;
    
  }

#myName {
margin: -50px 46px 37px 23px;
font-size: 50px;
font-family: Gabriola;
color: #39185a;
display: flex;
position: static;
grid-area: myName;
}
#myImage{
  display:none;
}

nav {
display: flex;
list-style-type: none;
margin: 3px 10px 20px 30px;
grid-area: nav;
}

main{
  display: grid;
  grid-area: main;
  grid-gap:10px;
  grid-template-columns:1fr ;
  grid-template-areas:
  'about .'
  'skills .'
  'connect .'
  'experience .'
  'projects .'
  'messageForm .'
  
  ;
}

#About{
 grid-area: about;
 border: 3px inset #ebf2f3;
 margin: 60px 23px 40px 45px;
 width: 90%;
}
#skills{
 grid-area: skills;
 margin:40px 23px 40px 45px;
 width: 90%;
}
#Connect{
grid-area: connect;
margin: 40px 23px 40px 45px;
}
#Experience{
grid-area: experience;
border: 3px inset #ebf2f3;
margin: 40px 23px 40px 44px;
width: 90%;

}
#projects{
  grid-area: projects;
  margin: 60px 3px 40px 37px;
}
 
#container{
  display: grid;
  grid-template-columns: 6fr 1fr;
  width: 90%;
}

#container p {
  font-family: Gabriola;
  font-size: 20px;
  height: 40px;
  background-color: #f1f5fa;
}
#messageForm{
  width:85%;
 border: 3px inset #ebf2f3;
  height: 80vh;
  margin: 50px 39px;
  border-radius: 5px;
}
.message-area{
  margin: 20px -123px;
  background-color: #fefefe;
  width: 300px;
  height: 200px;
  grid-area: message-area;

}
#messageForm{
  display: grid;
  grid-area: messageForm;
  width:90%;
  border: 3px inset #ebf2f3;
  height: 80vh;
  margin: 40px 33px;
  border-radius: 5px;
  padding: 20px;
  font-family: Gabriola;
  color: #39185a;
  font-size: 20px;
  position:relative;
  background-color: #ebf2f3;
  grid-template-areas:
  'h2m . . userMessages '
  'form . .'
}
messages{
  grid-area: userMessages;
  margin-right: 30px;
}

}

/* Desktops and Laptops */
@media only screen and (min-width : 1224px) {}

/* Large Screens */
@media only screen and (min-width : 1824px) {}